#gamemenu
    #backbutton Back
    #player #{player}
    #btnAdd #{add_score}
    #btnSub #{sub_score}
    #btnMul #{mul_score}
    #btnDiv #{div_score}
#getready
  #touchtostart
#gameframe
  #quitbutton Quit
  #questionText
  #button1
  #button2
  #button3
  #button4
  #timer
  #score
#gameover
  #gameoverbutton Try Again
  #gameover-msg