#highscores
	#banner
		#back back
	#gametype Addition
	#scorelist
		each score in add_scores
			#score #{score.player} - #{score.score}
	#gametype Subtraction
	#scorelist
		each score in sub_scores
			#score #{score.player} - #{score.score}
	#gametype Multiplication
	#scorelist
		each score in mul_scores
			#score #{score.player} - #{score.score}
	#gametype Division
	#scorelist
		each score in div_scores
			#score #{score.player} - #{score.score}